* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: white;
    font-family: var(--font-dm-sans);
    color: #901C1C;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    font-weight: 400;
}