.photographHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    padding: 50px;
}

.portrait {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin-bottom: 25px;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 0.15);
}

.photographInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.photographInfo h1 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -0.2rem;
}

.photographInfo h2 {
    font-size: 24px;
    font-weight: 400;
}

.photographInfo p {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
}

.contactButton {
    padding: 24px 12px;
    background-color: #901C1C;
    color: white;
    font-family: var(--font-dm-sans);
    font-weight: 700;
    font-size: 20px;
    border: 0px solid;
    border-radius: 8px;

    &:hover{
        cursor: pointer;
        color: black;
        background-color: #DB8876;
    }

    &:focus {
        color: black;
        background-color: #DB8876;
    }
}
